.sticky-top {
    background: white;
}

img.professional-pic {
    border-radius: 50%;
}

.btn-dark:hover {
    color: white;
}

.card-img-top {
    width: 100%;
    height: 100%;
}

.card-hr {
    margin: auto;
    width: 50px;
}

.card-text {
    margin: 0.5rem 0;
}

.card-body {
    padding: 0 16px 16px 16px;
}

.card-subtext {
    font-size: 1rem;
}

p.card-text.card-subtext {
    height: 72px;
    justify-content: center;
}