<div class="container">
        <footer class="d-flex flex-wrap justify-content-between py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <span class="text-muted">© {{ todayYear }} Copyright: Ryan Ford</span>
            </div>
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3">
                    <a href="https://www.linkedin.com/in/ryan-ford-559588b5" title="linkedin">
                        <img src="/static/logos/linkedin.png" alt="linkedin-icon" width="30" height="30"
                        class="d-inline-block align-top">
                    </a>
                </li>
                <li class="ms-3">
                    <a href="https://github.com/ryanjford1996" title="github">
                        <img src="/static/logos/github.png" alt="github-icon" width="30" height="30"
                        class="d-inline-block align-top">
                    </a>
                </li>
                <li class="ms-3">
                    <a href="#" title="twitter">
                        <img src="/static/logos/twitter.png" alt="twitter-icon" width="30" height="30"
                        class="d-inline-block align-top">
                    </a>
                </li>
                <li class="ms-3">
                    <a href="#" title="facebook">
                        <img src="/static/logos/facebook.png" alt="facebook-icon" width="30" height="30"
                        class="d-inline-block align-top">
                    </a>
                </li>
            </ul>


        </footer>
    </div>