<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/static/css/styles.css" rel="stylesheet">
</head>
<body>
   {% include 'nav-bar.html' %}

    <div class="container">
        <div class="d-flex d-flex flex-wrap py-5 justify-content-around align-items-center">
            <div class="col-md-6 text-center">
                <img class='professional-pic' src="/static/images/avatar.jpeg" alt="professional-pic" width="300px" height="380px">
            </div>
            <div class="col-md-6 text-center">
                <h1 class="fw-light">About Me</h1>
                <hr>
                <p class="lead text-muted"><em>Doctor of Physical Therapy<br>Software Developer</em></p>
                <br>
                <p class="lead text-muted">I am an Inpatient Acute Physical Therapist looking to enter into the field of
                Software Development. I have a Bachelors degree in Biology from Texas Tech University and
                a clinical Doctorate in Physical Therapy from UT Southwestern. My experience in the hospital has made
                me an excellent team player and seek out new challenges, leading me to developing a passion for
                coding and software.</p>
            </div>
        </div>
    </div>




    {% include 'footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>
</html>