<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
      <nav class="navbar navbar-expand-sm navbar-light">
        <a href="{{ url_for('home') }}" class="navbar-brand">Ryan Ford</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#toggleMobileMenu"
          aria-controls="toggleMobileMenu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="toggleMobileMenu">
          <ul class="navbar-nav">
            <li>
              <a class="nav-link" href="{{ url_for('showResume') }}">Resume</a>
            </li>
            <li>
              <a class="nav-link" href="{{ url_for('showProjects') }}">Projects</a>
            </li>
            <li>
              <a class="nav-link" href="{{ url_for('contact') }}">Contact Me</a>
            </li>
          </ul>
        </div>
        <ul class="navbar-nav">
            <li>
                <a href="https://www.linkedin.com/in/ryan-ford-559588b5" title="linkedin">
                    <img src="/static/logos/linkedin.png" alt="linkedin-icon" width="30" height="30"
                    class="d-inline-block align-top">
                </a>
            </li>
            <li>
                <a href="https://github.com/ryanjford1996" title="github">
                    <img src="/static/logos/github.png" alt="github-icon" width="30" height="30"
                    class="d-inline-block align-top">
                </a>
            </li>
        </ul>
      </nav>
    </div>

    <h1>Welcome, this is where I will put my resume.</h1>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>
